# Data Type : List

In [1]:
a = [ 0, 1, 2, 3, 4, 5 ]  
b = [ "a", "b" ]

# Creating List

In [ ]:
a = [ 0, 1, 2, 3, 4, 5 ]

## List Slicing
a[l:r:i]
    l : Left index  . Default 
    r : Right index . Default 
    i : step, default 1

In [2]:
a

[0, 1, 2, 3, 4, 5]

In [3]:
a[1]

1

In [4]:
print("max index ")
a[:2]

max index

[0, 1]

In [5]:
a[2:]

[2, 3, 4, 5]

In [6]:
a[::1]

[0, 1, 2, 3, 4, 5]

In [7]:
# all at even index
a[::2]

[0, 2, 4]

In [8]:
# all at odd index
a[1::2]

[1, 3, 5]

### Negative index

In [9]:
# all numbers in reverse order
a[::-1]

[5, 4, 3, 2, 1, 0]

In [10]:
# negative index
a[-3:]

[3, 4, 5]

In [11]:
a[-1:]

[5]

In [12]:
a[:-1]

[0, 1, 2, 3, 4]

In [13]:
a[-1:]

[5]

In [14]:
a[::-2]

[5, 3, 1]

## List methods

In [15]:
a = list(range(10))

In [16]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
len(a)

10

In [18]:
a.index(5)

5

In [19]:
a.count(5)

1

# List self-update method

These methods updates the list, return none

In [20]:
a.append(10) 
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a.reverse(); print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [22]:
a.reverse(); print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
a.remove(5); print(a)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [24]:
a.insert(5,5); print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
a = list(range(5))
b = list(range(6,10))

In [26]:
print( "a = ", a); print( "b = ", b)

a =  [0, 1, 2, 3, 4]
b =  [6, 7, 8, 9]

# Self update list

In [27]:
a = list(range(100,110))
b = list(range(200,210))

In [28]:
print(a); print(b)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
[200, 201, 202, 203, 204, 205, 206, 207, 208, 209]

In [71]:
b = list(range(200,210)); print(" b = ", b)

 b =  [200, 201, 202, 203, 204, 205, 206, 207, 208, 209]

In [69]:
b.pop(5)

205

In [70]:
print( b.pop(), " ; ", b)

209  ;  [200, 201, 202, 203, 204, 206, 207, 208]

In [73]:
print( b.pop(), " ; ", b)

209  ;  [200, 201, 202, 203, 204, 205, 206, 207, 208]

In [74]:
print( b.pop(), " ; ", b)

208  ;  [200, 201, 202, 203, 204, 205, 206, 207]

In [30]:
print(a); print(b)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
[200, 201, 202, 203, 204, 206, 207, 208, 209]

In [31]:
a.extend(b) ; print(a)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 200, 201, 202, 203, 204, 206, 207, 208, 209]

### List arthimatics

In [44]:
a = list(range(5))
b = list(range(6,10))

In [45]:
a + b

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [46]:
a * 2

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [47]:
a / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [48]:
a - b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [55]:
a = list(range(5))
b = list(range(5,10))
c = list(range(5))
print(" a = ", a, "\n b = ", b, "\n c = ", c)

 a =  [0, 1, 2, 3, 4]
 b =  [5, 6, 7, 8, 9]
 c =  [0, 1, 2, 3, 4]

In [49]:
a > b

False

In [50]:
a < b

True

In [51]:
a == b

False

In [56]:
a == c

True

In [57]:
a <= c

True

In [59]:
print(" a = ", a, "\n b = ", b)
a <= b

 a =  [0, 1, 2, 3, 4]
 b =  [5, 6, 7, 8, 9]

True

In [62]:
a_l = [-1] + a
a_r = [-1] + b

In [63]:
print(" a_l = ", a_l, "\n a_r = ", a_r)
a_l <= a_r

 a_l =  [-1, 0, 1, 2, 3, 4]
 a_r =  [-1, 5, 6, 7, 8, 9]

True